<div class="fManager" style="width:<%= Width %>;height:<%= Height %>">
    <div class="fManager-head clearfix">
        <a class="fManager-close"><span class="oss-icon-s close"></span></a>
        <h4 class="fManager-title"><%= Title %></h4>
    </div>
    <div class="fManagerContent">
        <div class="fManagerSider">
            <ul class="ServiceList">
            </ul>
        </div>
        <div class="fManagerBody">
            <div class="fManagerBody-content">
            </div>
            <div class="fManagerBody-foot">
            </div>
        </div>
    </div>
</div>
