doctype html
html
  head
    title= title
    meta(charset="UTF-8")
    link(rel='stylesheet', href='/jquery-ui/themes/base/jquery-ui.min.css')
    link(rel='stylesheet', href='/assets/fileManager/style/fileManager.css')
    link(rel='stylesheet', href='/assets/fileManager/style/style.css')
    link(rel='stylesheet', href="/stylesheets/style.css")

  body
    block content
    script(src="/jquery/dist/jquery.min.js")
    script(src="/jquery-ui/jquery-ui.min.js")
    script(src="/jsrender/jsrender.min.js")
    script(src="/underscore/underscore-min.js")
    script(src="/assets/fileManager/fileManager.js")
    script(src="/javascripts/main.js")
